<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/spring/app-config.ctx.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- Servlets -->


	<servlet>
		<servlet-name>studentService</servlet-name>
		<servlet-class>org.ssg.gui.server.service.StudentControlServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>studentService</servlet-name>
		<url-pattern>/StudentHome/Student</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>StudentHome.html</welcome-file>
	</welcome-file-list>


</web-app>
