<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
            http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/spring/application.ctx.xml
		classpath:/spring/dev-data.ctx.xml</param-value>
	</context-param>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- Servlets -->


	<servlet>
		<servlet-name>studentControlService</servlet-name>
		<servlet-class>org.ssg.gui.server.service.StudentControlServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>devDataServlet</servlet-name>
		<servlet-class>org.ssg.gui.server.devdata.PopulateDevDataServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>studentControlService</servlet-name>
		<url-pattern>/StudentControlService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>devDataServlet</servlet-name>
		<url-pattern>/DevData</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


</web-app>
